<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%=t :formerror, :count => object.errors.count %> 
      <%= pluralize(object.errors.count, "error", I18n.locale = :en) %>.
    </div>          
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>